@use "../variables" as v;

@mixin label() {
  label {
    font-family: v.$font-family;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 900;    
    color: v.$coffe;
    margin-top: 10px;   
    padding-right: 1rem;
  }
}
