@use "./variables" as v;

h1{
  font-family: v.$font-family;
  color: v.$white;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 2.4rem;
}
h2{
  font-family: v.$font-family;
  text-align: center;
  color: v.$white;
  padding: 1rem;
}
h4{
  font-family: v.$font-family;
  text-align: justify;
  padding-bottom: 1rem;
}
span{
  font-family: v.$font-family;
  font-weight: 420;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-image: v.$container-bg;
  main {
    background-image: v.$main-bg;
    border-radius: 8px;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 40px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    h3 {
      font-family: v.$font-family;
      font-weight: 500;
      color: v.$white;
      text-align: center;
      letter-spacing: 0.1rem;
      padding: 1.5rem;
    }
    > p {
      font-family: v.$font-family;
      font-size: 1.2rem;
      font-weight: 300;
      color: v.$white;
      text-align: center;
      padding: 1rem;
      span {
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: max-content 1fr; /* Espacio igual entre las etiquetas y los valores */
  grid-row-gap: 3px; /* Espacio vertical entre filas */
 
}
