// Fonts
$font-family: "Montserrat", sans-serif;

// Backgrounds
$container-bg: linear-gradient(
  to left bottom, #03a64a, #00924b, #007f4a, #006c46, #025940
);
$main-bg: linear-gradient(
  to right bottom,
  #03a64a, #00924b, #007f4a, #006c46, #025940
);

// Colors
$white: #FEFEFE;
$black: #353535;
$gray: #626262;
$error: #d84668;
$yellow: #DA982A;
$coffe:#42210B;
